.navg a{
    color: #f4f4f4!important;
    font-family: 'Montserrat' ;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.navg a:hover{
    background-color: #c10000a2;
}

.logo {
    width: 60px;
    height: 50px;
    border-radius: 30px;
  }
  
