<div *ngIf="servicio.userLoggedIn">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <form #formregistro="ngForm">
                    <div class="card-header bg-info mb-3">
                        <h2>Gestion de Usuarios</h2>
                    </div>
                    <div class="form-group row">
                        <label for="user" class="col-md-4 col-sm-12">Usuario</label>
                        <input type="email" class="form-control col-md-8 col-sm-12" id="user" name="user"
                            placeholder="ingrese nombre de usuario" required
                            [(ngModel)]="usuario.usuario" #user="ngModel" />
                        <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger col-12">
                            <div *ngIf="user.errors.required">
                                nombre de usuario requerido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-sm-12">Password</label>
                        <input type="text" class="form-control col-md-8 col-sm-12" id="password" name="password"
                            placeholder="ingrese nombre de usuario" required maxlength="12"
                            [(ngModel)]="usuario.password" #password="ngModel" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger col-12">
                            <div *ngIf="password.errors.required">
                                contraseña de usuario requerido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="perfil" class="col-md-4 col-sm-12">Perfil</label>
                        <select required name="perfil" id="perfil" class="form-control col-md-8 col-sm-12"
                            [(ngModel)]="usuario.perfil">
                            <option value="propietario">Propietario</option>
                            <option value="administrativo">Administrativo</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary mr-3" (click)="altaUsuario()"
                [disabled]="!formregistro.form.valid || existe"><i class="fa fa-save"></i> Agregar</button>
            <button type="button" class="btn btn-primary align-content-center mr-3"
                [disabled]="!formregistro.form.valid || !existe" (click)="modificarUsuario()"><i class="far fa-edit"></i> Modificar</button>
            <button type="button" class="btn btn-primary align-content-center" (click)="limpiar()"><i class="fa fa-trash"></i> Limpiar</button>
        </div>
        <div class="card-footer">
            <table class="table table-striped" [mfData]="usuarios" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <mfDefaultSorter by="usuario">usuario</mfDefaultSorter>
                        </th>
                        <th scope="col">password</th>
                        <th scope="col">perfil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td></td>
                        <td>{{item.usuario}}</td>
                        <td>{{item.password}}</td>
                        <td>{{item.perfil}}</td>
                        <td>
                            <button class="btn btn-success mr-3" (click)="elegirUsuario(item)"><i class="far fa-hand-point-up"></i> Seleccinar</button>
                            <button class="btn btn-primary btn" (click)="bajaUsuario(item)"><i class="fa fa-trash"></i> Borrar</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,20]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>