<div *ngIf="servicio.userLoggedIn && servicio.userLogged.perfil == 'administrador'">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <form #formregistro="ngForm">
                    <div class="card-header bg-info mb-3">
                        <h2>Gestion de Usuarios</h2>
                    </div>
                    <div class="form-group row">
                        <label for="usu" class="col-md-4 col-sm-12">Usuario</label>
                        <!-- <select id="usu" class="form-control form-control-sm col-md-8 col-sm-12" required name="usu"
                            #prop="ngModel" [(ngModel)]="usuario.usuario" (change)="validarUsuario()">
                            <option *ngFor="let prop of propietarios" [ngValue]="prop">{{prop}}</option>
                        </select> -->
                        <input type="email" id="usu" class="col-md-8 col-sm-12" name="usu"
                        #prop="ngModel" [(ngModel)]="usuario.usuario" (change)="validarUsuario()"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <div class="col-md-4"></div>
                        <small id="emailHelp" class="form-text text-muted col-md-8 col-sm-12"><a class="nav-link" [routerLink]="['/propietario']" routerLinkActive="router-link-active">Ir a gestion de propietario</a></small>
                        <div *ngIf="!valido" class="alert alert-danger col-12">
                            Usuario no valido
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-sm-12">Password</label>
                        <input type="text" class="form-control col-md-8 col-sm-12" id="password" name="password"
                            placeholder="ingrese nombre de usuario" required maxlength="12"
                            [(ngModel)]="usuario.password" #password="ngModel" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger col-12">
                            <div *ngIf="password.errors.required">
                                contraseña de usuario requerido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="perfil" class="col-md-4 col-sm-12">Perfil</label>
                        <select required name="perfil" id="perfil" class="form-control col-md-8 col-sm-12"
                            [(ngModel)]="usuario.perfil">
                            <option value="propietario">Propietario</option>
                            <option value="administrativo">Administrativo</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="activo" class="col-md-4 col-sm-12">Estado</label>
                        <input type="checkbox" id="activo" class="col-md-8 col-sm-12 form-control" name="activo"
                            [(ngModel)]="usuario.activo">
                    </div>
                </form>
            </div>

            <div class="card-body form-group text-center">
                <button type="button" class="btn btn-primary mr-3" (click)="altaUsuario(formregistro)"
                    [disabled]="!formregistro.form.valid || existe || !valido"><i class="fa fa-save"></i> Agregar</button>
                <button type="button" class="btn btn-primary align-content-center mr-3"
                    [disabled]="!formregistro.form.valid || !existe" (click)="modificarUsuario()"><i
                        class="far fa-edit"></i> Modificar</button>
                <button type="button" class="btn btn-primary align-content-center" (click)="limpiar(formregistro)"><i
                        class="fa fa-trash"></i> Limpiar</button>
            </div>
            <div class="card-footer">
                <div class="table-responsive">
                    <table class="table table-striped" [mfData]="usuarios" #mf="mfDataTable" [mfRowsOnPage]="5">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">
                                    <mfDefaultSorter by="usuario">Nombre Usuario</mfDefaultSorter>
                                </th>
                                <th scope="col">Password</th>
                                <th scope="col">
                                    <mfDefaultSorter by="perfil">Perfil</mfDefaultSorter>
                                </th>
                                <th scope="col">
                                    <mfDefaultSorter by="activo">Estado</mfDefaultSorter>
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td></td>
                                <td>{{item.usuario}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.perfil}}</td>
                                <th>{{item.activo}}</th>
                                <td>
                                    <button class="btn btn-success mr-3" (click)="elegirUsuario(item)"><i
                                            class="far fa-hand-point-up"></i> Seleccinar</button>
                                    <button class="btn btn-danger btn" (click)="bajaUsuario(item)"><i
                                            class="fa fa-trash"></i> Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,20]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>