
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="assets/img/user.png" />
            </div>
            <!--
                <input type="email" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required
    	pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="primaryEmail"
    	[(ngModel)]="userModel.primaryAddress" />

  	<div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
    	<small class="text-danger" *ngIf="firstEmail.errors.required">Primary email is required</small>
    	<small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address</small>
  	</div>
            -->
            <form class="col-12">
                <div class="form-group" id="user-group">
                    <input type="email" class="form-control" placeholder="ingrese email usuario" name="username"
                        [(ngModel)]="usuario.usuario" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched"
                        required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="primaryEmail"/>

                        <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
                            <small class="text-danger" *ngIf="firstEmail.errors.required">Email es requerido</small>
                            <small class="text-danger" *ngIf="firstEmail.errors.pattern">PorFavor ingrese una direccion de email valido</small>
                          </div>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contrasena" name="password"
                        [(ngModel)]="usuario.password" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info text-center" type="submit" (click)="login()">Login<i class="fas fa-sign-in-alt ml-2"></i></button>
                </div>
                <div class="alert-danger">{{msglogin}}</div>
            </form>
            <div class="col-12 forgot">
                <a href="#">Recordar contrasena?</a>
            </div>
        </div>
    </div>
</div>