<div *ngIf="loginService.userLoggedIn">
    <div class="row">
        <form #ngFormregistro="ngForm" (ngSubmit)="guardarPropietario(ngFormregistro)" class="col-md-10 offset-1" action="">
            <h2 class="text-center mt-3 mb-3"> Propietario</h2>
    
            <div class="form-group row">
    
                <label for="idapellido" class="col-md-4">Apellido</label>
                <input id="idapellido" class="form-control form-control-sm col-md-8" type="text" name="apellido"
                    [(ngModel)]="propietario.apellido" required #prop="ngModel">
                <div *ngIf="!prop.valid && (prop.dirty || prop.touched)" class="alert alert-danger col mt-3">
                    <div *ngIf="prop.errors.required">
                        campo requerido
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="idnombre" class="col-md-4">Nombres</label>
                <input id="idnombre" class="form-control form-control-sm col-md-8" type="text" name="nombre"
                    [(ngModel)]="propietario.nombres" required #nom="ngModel">
                <div *ngIf="!nom.valid && (nom.dirty || nom.touched)" class="alert alert-danger col mt-3">
                    <div *ngIf="nom.errors.required">
                        campo requerido
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="iddni" class="col-md-4">Dni</label>
                <input id="iddni" class="form-control form-control-sm col-md-8" type="number" name="dni"
                    [(ngModel)]="propietario.dni" required #dni="ngModel">
                <div *ngIf="!dni.valid && (dni.dirty || dni.touched)" class="alert alert-danger col mt-3">
                    <div *ngIf="dni.errors.required">
                        DNI es un campo requerido
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="idemail" class="col-md-4">Email</label>
                <input id="idemail" class="form-control form-control-sm col-md-8" type="text" name="email" required
                    #email="ngModel" [(ngModel)]="propietario.email">
            </div>
    
            <div class="form-group row">
                <label for="idtelefono" class="col-md-4">Teléfono</label>
                <input id="idtelefono" class="form-control form-control-sm col-md-8" type="number" name="telefono" required
                    #tel="ngModel" [(ngModel)]="propietario.telefono">
                <div *ngIf="!tel.valid && (tel.dirty || tel.touched)" class="alert alert-danger col mt-3">
                    <div *ngIf="tel.errors.required">
                        campo requerido
                    </div>
                </div>
            </div>
    
            <div class="form-group text-center">
                <button class="btn btn-primary ml-2 mr-2" type="submit" [disabled]="!ngFormregistro.form.valid"><i
                        class="fa fa-save"></i>
                    Guardar</button>
                <button class="btn btn-primary ml-2 mr-2" (click)="modificarPropietario()" [disabled]=""><i
                        class="fa fa-save"></i>
                    Modificar</button>
                <button class="btn btn-primary ml-2 mr-2" (click)="limpiar(ngFormregistro)"><i class="fa fa-trash"></i>
                    Limpiar</button>
            </div>
        </form>
    </div>
    <table class="table table-striped" [mfData]="propietarios" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="">APELLIDO</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="">NOMBRES</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="">DNI</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="">EMAIL</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="">TELEFONO</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="">Acciones</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.apellido}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.dni}}</td>
                <td>{{item.email}}</td>
                <td>{{item.telefono}}</td>
                <td>
                    <button class="btn btn-success mr-2" (click)="elegirPropietario(item)">Seleccionar</button>
                    <button class="btn btn-danger" (click)="borrarPropietario(item._id)">Borrar</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>